{% extends 'admin_base.html' %}



{% block main %}





        <div class="card shadow">
            <div class="card-body">
                
                <h5 class="p-2" style="border-bottom : 2px solid orange">Accepted Donation </h5>
            <div class="container-fluid">
                <table id="example" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>s.no.</th>
                        <th>donation name</th>
                        <th>donation date</th>
                        <th>status</th>
                        <th>action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for i in donation %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.donationname}}</td>
                            <td>{{i.donationdate}}</td>  
                            <td>{{i.status}}</td> 
                            <td><a href="{%url 'volunteer_assign' i.id %}"class="text-primary">View Details</a></td>
                        
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
                        




            </div>

            
            </div>
        </div>


{% endblock %}