{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    
    
</head>
<body style="background-image: url({% static 'images/children3.jpg' %});">
    {% include 'navigation.html' %}
    <hr class="mt-0">
    <div class="row">
        <div class="col-lg-5 m-auto">
            <div class="card mt-5 bg-dark">
                <div class="card-title text-center mt-3">
                    <img src="{% static 'images/admin1.jpg' %}" alt="" width="150" height="150">
                    <h2 style="color: aliceblue;">Admin Login</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user fa-2x"></i>
                                </span>
                            </div>
                            <input type="text" name="username" class="form-control py-4" placeholder="UserName">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-lock fa-2x"></i>
                                </span>
                            </div>
                            <input type="password" name="pwd" class="form-control py-4" placeholder="password">
                        </div>
                        <input type="submit" value="login" class="btn btn-success px-5">
                        <a href="{% url 'index' %}" class="float-right text-white mt-2">Go back to Home</a>
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>


{% if error == "no" %}
    <script>
        alert('Sign in successful');
        window.location=('{% url 'admin_home' %}');
    </script>
    {% endif %}
    {% if error == "yes" %}
    <script>
        alert('Invalid credentials. Try again! ');
    </script>
    {% endif %}


</html>