{% load static %}

<html>

<head>
    <script>
        function checkpassword()
        {
            if(document.signup.pwd.value != document.signup.cpwd.value)
            {
                alert('Password must be same.');
                document.signup.cpwd.focus();
                return false;
            }
            return true;
        }
    </script>
    {% if error == "no" %}
    <script>
        alert('Sign up successful')
        window.location=('{% url 'donor_login' %}')
    </script>
    {% endif %}
    {% if error == "yes" %}
    <script>
        alert('Something went wrong. Try again.')
        window.location=('{% url 'donor_reg' %}')
    </script>
    {% endif %}

</head>

<body  style="background-image: url({% static 'images/bg.jpg' %});">
    {% include 'navigation.html' %}
    <hr class="mt-0">
    <div class="card shadow m-5" style="background-image: url({% static 'images/bg1.jpg' %});" >
        <div class="card-body ">
            <h5 class="p-2" style="border-bottom: 2px solid orange">Donor Account</h5>
            <div class="container-fluid">
                <form method="post" enctype="multipart/form-data" name="signup" onsubmit="return checkpassword()">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input class="form-control" type="text" name="firstname" placeholder="yash" required pattern="[A-Za-z]+">
                            </div>
                        </div>


                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input class="form-control" type="text" name="lastname" placeholder="mistry" required
                                    pattern="[A-Za-z]+">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="email" name="email" placeholder="yashmistry@gmail.com" required
                                    patter="[A-Za-z]+">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Contact</label>
                                <input class="form-control" type="tel" name="contact" placeholder="+916355141456">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Password</label>
                                <input class="form-control" type="password" name="pwd" placeholder="password">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input class="form-control" type="password" name="cpwd">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Upload Aadhar</label>
                                <input class="form-control" type="file" name="userpic" placeholder="confirm password">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address</label>
                                <textarea class="form-control" type="text" name="address" placeholder="Full address" required pattern="[A-Za-z]+"></textarea>
                            </div>
                        </div>

                    </div>
                    <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
                </form>

            </div>
        </div>

    </div>

    {% if error == "no" %}
    <script>
        alert('Sign up successful')
        window.location=('{% url 'donor_login' %}')
    </script>
    {% endif %}
    {% if error == "yes" %}
    <script>
        alert('Something went wrong. Try again.')
    </script>
    {% endif %}
   
</body> 

</html>