{% load static %}

<html>

<head>

</head>

</html>

<body>
    {% include 'navigation.html' %}
    <hr class="mt-0">
    <div class="container-fluid" id="home">

        <div class="row mb-5">
            <div class="col-lg-6">
                <p class="text-center pt-3 mb-0" style="color:red; font-size: 20px;">Reduce Wastage of needy items</p>
                <h3 class="px-5 pt-5" style="color: green;">Giving is not just about giving donation. It's about making
                    a difference. Donate today.</h3>
                <h3 class="px-5 pt-3" style="color: blue;">Those who are happiest are those who do the most for others.
                </h3>
                <div class="px-5" style="padding-top: 30px;">
                    <a href="https://www.conserve-energy-future.com/15-easy-ways-to-reduce-landfill-waste.php" class="btn btn-success">Read more <i class="fas fa-angle-double-right"></i></a>
                    <a href="{% url 'all_logins' %}" class="btn btn-primary">Donate now <i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6 pl-5">
                <img class="img-thumbnail" width="560" height="315" src="{% static 'images/donate1.jpg' %}"
                    alt="">
            </div>
        </div>
        <div class="container-fluid" id="about">
            <div class="row">
                <div class="col-lg-6 mb-4 pl-5">
                    <img class="img-thumbnail" width="560" height="315"
                        src="{% static 'images/donate2.jpg' %}" alt="">
                </div>

                <div class="col-lg-6">
                    <h2 class="text-center pt-3 mb-0 text-secondary" style="font-size: 30px;">About us</h2>
                    <p class="px-5 pt-5" style="font-size: 20px;">
                        We have created a platform where the donor can put up his/her credentials (which would certainly be verified by the admin prior to the donation process).Later, the founders of the charity foundation would get funded the amount of the donation after the legal verifications
                    </p>
                    <div class="px-5">
                        <a href="" class="btn btn-success">Read more <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <hr class="mt-0">

    <div class="container mt-3 mb-5">
        <h1 class="text-center text-danger font-weight-bold mb-3" style="font-family: Monotype Corsiva;"> Our Special Services </h1>
        
        
        
    


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>




<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>

  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
    <div class="row">
        <div class=col-lg-4 >
        <div class="card" style="width:300px"> 
      <img class="card-img-top" src="{%static 'images/donateCloths.jpg' %}" alt="Card image" style="width:100% ; height:200px">
      <div class="card-body">
        <h4 class="card-title text-center">Clothes Donation</h4>
        <p class="card-text text-justify"> Donate your old clothes to the needy people.</p>
    </div>
</div>
   </div>

    <div class=col-lg-4 >
        <div class="card" style="width:300px"> 
      <img class="card-img-top" src="{%static 'images/donatetoys.jpg' %}" alt="Card image" style="width:100% ; height:200px">
      <div class="card-body">
        <h4 class="card-title text-center">Toys Donation</h4>
        <p class="card-text text-justify">Donate old toys and keep sadness away from the world.</p>
    </div>
</div>
   </div>
   <div class=col-lg-4 >
    <div class="card" style="width:300px"> 
  <img class="card-img-top" src="{%static 'images/donatefurniture.jpg' %}" alt="Card image" style="width:100% ; height:200px">
  <div class="card-body">
    <h4 class="card-title text-center">Furniture Donation</h4>
    <p class="card-text text-justify">Give support to the poor by donating furnitures. </p>
</div>
</div>
</div>
</div>
</div>


<div class="carousel-item ">
    <div class="row">
        <div class=col-lg-4 >
        <div class="card" style="width:300px"> 
      <img class="card-img-top" src="{%static 'images/donatefootwear.jpg' %}" alt="Card image" style="width:100% ; height:200px">
      <div class="card-body">
        <h4 class="card-title text-center">Footwear Donation</h4>
        <p class="card-text text-justify">Donate new or old footwear to charity</p>
    </div>
    </div>
   </div>

    <div class=col-lg-4 >
        <div class="card" style="width:300px"> 
      <img class="card-img-top" src="{%static 'images/donatebook.jpg' %}" alt="Card image" style="width:100% ; height:200px">
      <div class="card-body">
        <h4 class="card-title text-center">Book Donation</h4>
        <p class="card-text text-justify">Donate book, decrease crime.</p>
    </div>
    </div>
    </div>
   <div class=col-lg-4 >
    <div class="card" style="width:300px"> 
  <img class="card-img-top" src="{%static 'images/donateutensils.jpg' %}" alt="Card image" style="width:100% ; height:200px">
  <div class="card-body">
    <h4 class="card-title text-center">Kitchenware Donation</h4>
    <p class="card-text text-justify">Give support to the poor by donating kitchenwares. </p>
    </div>
    </div>
    </div>
</div>
</div>

  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>
</div>



                   


            <hr style="margin-top: 100px;">
            <div class="row" id="donate">
                <div class="col-lg-6" style="margin: auto;">
                    <h3 class="text-center pt-5" style="color:green;"> 
                        Best way to help others
                    </h3>
                    <p class="text-center" style="color: red; font-size: 20px;">Join us and become a part of this good work.</p>
                    <center><a href="{% url 'all_logins' %}" class="btn btn-primary mt-5">Donate now</a></center>
                </div> 
                <div class="col-lg-6" style="margin: auto;">
                    <h3 class="text-center pt-5" style="color:green;"> 
                        Charity Foundations
                    </h3>
                    <p class="text-center" style="color: red; font-size: 20px;">Sign up and get all the help you can.</p>
                    <center><a href="{% url 'all_logins' %}" class="btn btn-primary mt-5">Register now</a></center>
                </div> 
            </div>
            <hr style="margin-top: 70px;">

            <div class="container text-center mt-5" id="contact">
                <h1 class="text-center font-weight-bold" style="font-family: Monotype Corsiva; color: red;">Contact Us</h1>
                <div class="row mt-5">
                    <div class="col-lg-3 col-sm-6">
                        <h4><i class="fas fa-phone-square"></i>Contact</h4>
                        <p class="mt-3 text-danger font-weight-bold"><a href="tel:9998793531">tel:9998793531</a></p>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h4><i class="fas fa-envelope"></i>Send Email</h4>
                        <p class="mt-3 text-danger font-weight-bold"><a href="mailto:yashmistryslm@gmail.com">yashmistryslm@gmail.com</a></p>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h4><i class="fas fa-address-card"></i>Address</h4>
                        <p class="mt-3 text-danger font-weight-bold"><a href="https://www.google.com/maps/place/Adajan,+Surat,+Gujarat">adajan surat</a></p>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h4><i class="fa fa-clock"></i>Office Hours</h4>
                        <p class="mt-3 text-danger font-weight-bold">9am - 6pm</p>
                    </div>
                </div>
            </div>







    <footer class="container-fluid text-white mt-5" id="footer" style="border-top: 3px solid #DC3545; background-color: black;">
        <div class="continer">
            <div class="row py-3">
                <div class="col-md-6">
                    <div>
                        <span>Follow us:</span>
                        <a href="https://www.facebook.com/yashmistry" target="_blank"><i class="fab fa-facebook-f px-3"></i></a>
                        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter pr-3"></i></a>
                        <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube pr-3"></i></a>
                        <a href="#" target="_blank"><i class="fas fa-rss pr-3"></i></a>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <small>Copyright &copy; @<script>document.write(new Date().getFullYear()); </script> All rights reserved. Made by yash mistry</small>
                </div>
            </div>
            <div class="scrolltop float-right">
                <i class="fa fa-arrow-up" onclick="topFunction()" id="scrollbtn"></i>

            </div>
        </div>

    </footer>

    <script>
        scrollbutton = document.getElementById("scrollbtn");
        window.onscroll = function(){scrollFunction()};


        function scrollFunction()
        {
            if(document.body.scrollTop>20 || document.documentElement.scrollTop>20)
            {
                scrollbutton.style.display="block";

            }
            else
            {
                scrollbutton.style.display="none";
            }

        }

        function topFunction()
        {
            document.body.scrollTop = 0;//safari
            document.documentElement.scrollTop = 0;//for chrome
        }
    </script>

</body>