{% load static %}



    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/mystyle.css'%}">
    <script src="https://kit.fontawesome.com/2e375cc1ab.js" crossorigin="anonymous"></script>
    <title>charity page</title>


  <nav class="navbar navbar-expand-sm navbar-light bg-dark">
    <div class="container">
        <a href="#" class="navbar-brand">
          <img src="" alt="">
                
                <img src = "{% static 'images/donation.jpg' %}" width="70" height="50">
                <span style="color: green;font-size: 50px;">charity </span>
                <span style="color: yellow;font-size: 50px;">Management</span>
                <span style="color: red; font-size: 50px;">System</span>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="myMenu">
                <ul class="navbar-nav pl-5 custom-nav ml-auto">
               
                    {% if request.path == '/' %}
                    
                    <li class="nav-item"><a href="#home" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#about" class="nav-link">about us</a></li>
                    <li class="nav-item"><a href="#donate" class="nav-link">donate</a></li>
                    <li class="nav-item"><a href="#contact" class="nav-link">contact</a></li>
                    <li class="nav-item"><a href="{% url 'gallery_ind' %}" class="nav-link">gallary</a></li>
                    <li class="nav-item"><a href="{% url 'all_logins' %}" class="nav-link">Login</a></li>
                    {% else %}
                <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Go back to homepage</a></li>
                {% endif %}
                </ul>
            </div>
        </div>

    </nav>