{% extends 'admin_base.html' %}



{% block main %}





        <div class="card shadow">
            <div class="card-body">
                
                <h5 class="p-2" style="border-bottom : 2px solid orange">View Donation details </h5>
            <div class="container-fluid">
                <table class="table table-bordered">
                    <tr align="center">
                        <td colspan="4" style="font-size : 20px ; color : red">donor details</td>
                    
                    </tr>
                    <tr>
                        <th>donor</th>
                        <td>{{donation.donor.user.first_name}}  {{donation.donor.user.last_name}}</td>
                        
                        <th>donor Contact</th>
                        <td>{{donation.donor.contact}} </td>

                    </tr>

                    <tr>
                        <th>Email</th>
                        <td>{{donation.donor.user.username}}</td>
                        
                        <th>Donor Pic</th>
                        <td><img src="{{donation.donor.userpic.url}}"width="50px" height="50px"></td>

                    </tr>


                    <tr align="center">
                        <td colspan="4" style="font-size : 20px ; color : red">donation details</td>
                    </tr>

                    <tr>
                        <th>Donation Name</th>
                        <td>{{donation.donationname}}</td>
                        
                        <th>Donation Pic</th>
                        <td><img src="{{donation.donationpic.url}}"width="50px" height="50px"></td>

                    </tr>

                    
                    <tr >
                        <th>Collection Location</th>
                        <td>{{donation.collectionloc}}</td>
                        
                        <th>Donation Date</th>
                        <td>{{donation.donationdate}}</td>

                    </tr>


                    {% if donation.status == "pending" %}
                    <form method="post">
                        {% csrf_token %}

                        <tr>
                            <th>Status</th>
                            <td colspan="3">
                                <select name="status" class="form-control" required>
                                    <option value="accept">accept</option>
                                    <option value="reject">reject</option>
                                </select>
                            </td>
                        </tr>




                        <tr >
                            <th>Admin Remark</th>
                            <td colspan="3">
                               <textarea name="adminremark" class="form-control" required></textarea>
                            </td>
                        </tr>


                        <tr >
                            <th></th>
                            <td colspan="3">
                               <button type="submit" class="btn btn-primary">Update<i class="fa-arrow"></i></button>
                            </td>
                        </tr>




                    </form>


                    {% else %}

                    
                    <tr>
                        <th>Status</th>
                        <td style="text-transform : capitalize">{{donation.status}}</td>
                        


                    </tr>

                    <tr>
                        <th>Admin Remark </th>
                        <td colspan="3">{{donation.adminremark}}</td>
                        
                       

                    </tr>





                    {% endif %}


                    



</table>
            </div>

            
            </div>
        </div>


{% if error == "no" %}
<script>
    alert('Status and remark has been updated succesfully')
    window.location=('{% url 'view_donationdetail' donation.id %}')
</script>
{% endif %}

{% if error == "yes" %}
    <script>
        alert('Something went wrong. Try again.')
    </script>
{% endif %}



{% endblock %}