{% extends 'admin_base.html' %}



{% block main %}



<div class="card shadow">
    <div class="card-body">

        <h5 class="p-2" style="border-bottom : 2px solid orange">View Donation details </h5>
    <div class="container-fluid">
        <table class="table table-bordered">
            <tr align="center">
                <td colspan="4" style="font-size : 20px ; color : red">donor details</td>

            </tr>
            <tr>
                <th>donor</th>
                <td>{{donation.donor.user.first_name}}  {{donation.donor.user.last_name}}</td>

                <th>donor Contact</th>
                <td>{{donation.donor.contact}} </td>

            </tr>

            <tr>
                <th>Email</th>
                <td>{{donation.donor.user.username}}</td>

                <th>Donor Pic</th>
                <td><img src="{{donation.donor.userpic.url}}" width="50px" height="50px"></td>

            </tr>


            <tr align="center">
                <td colspan="4" style="font-size : 20px ; color : red">donation details</td>
            </tr>

            <tr>
                <th>Donation Name</th>
                <td>{{donation.donationname}}</td>

                <th>Donation Pic</th>
                <td><img src="{{donation.donationpic.url}}" width="50px" height="50px"></td>

            </tr>


            <tr >
                <th>Collection Location</th>
                <td>{{donation.collectionloc}}</td>

                <th>Donation Date</th>
                <td>{{donation.donationdate}}</td>

            </tr>

            <tr>
                <th>Status</th>
                <td style="text-transform : capitalize">{{donation.status}}</td>


                <th>Admin Remark</th>
                <td colspan="3">

                     {{donation.adminremark}}


                </td>


            </tr>


            {% if donation.donationarea.areaname == "surat" %}
            <form method="post">
                {% csrf_token %}

                <tr>
                    <th>select donation distribution area</th>
                    <td colspan="3">
                        <select name="donationareaid" class="form-control" required>
                            {% for i in donationarea %}
                            <option value="{{i.id}}">{{i.areaname}}</option>

                            {% endfor %}
                        </select>
                    </td>
                </tr>


                <tr>
                    <th>select volunteer</th>
                    <td colspan="3">
                        <select name="volunteerid" class="form-control" required>
                            {% for i in volunteer %}
                            <option value="{{i.id}}">{{i.user.username}}[{{i.user.first_name}} {{i.user.last_name}}]</option>

                            {% endfor %}
                        </select>
                    </td>
                </tr>

                <tr >
                    <th></th>
                    <td colspan="3">
                       <button type="submit" class="btn btn-primary">Update <i class="fa fa-arrow-circle-right" ></i> </button>
                    </td>
                </tr>

            </form>


            {% else %}


            <tr>
                <th>donation area</th>
                <td style="text-transform : capitalize" colspan="5">{{donation.donationarea.areaname}}</td>
            </tr>
            <tr>
                <th>volunteer</th>
                <td colspan="5">{{donation.volunteer.user.username}}[{{donation.volunteer.user.first_name}} {{donation.volunteer.user.last_name}}]</td>

            </tr>
            {% endif %}

            {% if donation.volunteerremark == "something" %}

             <tr>
                <th>volunteer remark</th>
                <td colspan="5">not updated yet</td>

            </tr>
            {% else %}


             <tr>
                <th>volunteer remark</th>
                <td colspan="5">{{donation.volunteerremark }}</td>

            </tr>

            {% endif %}










        </table>
    </div>


    </div>
</div>


{% if error == "no" %}
<script>
alert('volunteer allocated Status has been updated succesfully');
window.location=("{% url 'volunteer_assign' donation.id %}");
</script>
{% endif %}
{% if error == "yes" %}
    <script>
        alert('Something went wrong. Try again.')
    </script>
{% endif %}



{% endblock %}